# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Read in the City Weather Data.csv
city_weather_data = pd.read_csv("City Weather Data.csv")
city_weather_data.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,toora-khem,52.47,96.11,48.96,81,50,0.92,RU,1595892065
1,atuona,-9.80,-139.03,79.63,71,1,25.23,PF,1595892065
2,chuy,-33.70,-53.46,50.22,86,52,6.15,UY,1595892065
3,uvat,59.14,68.90,44.22,82,46,5.21,RU,1595892065
4,qaanaaq,77.48,-69.36,46.17,57,76,3.15,GL,1595891852

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [20]:
# Store 'Lat' and 'Lng' into  locations 
locations=city_weather_data[["Lat", "Lon"]].astype(float)
# Convert Poverty Rate to float and store
humidity=city_weather_data["Humidity"].astype(float)

In [23]:
# Create a humidity Heatmap layer
fig=gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_temps=city_weather_data[(city_weather_data["Max Temp"]<75)&(city_weather_data["Max Temp"]>70)]
ideal_temps.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,myitkyina,25.38,97.40,73.80,96,78,1.12,MM,1595892066
12,rikitea,-23.12,-134.97,72.25,75,78,11.12,PF,1595892067
20,nipani,16.40,74.38,71.13,92,98,6.06,IN,1595892069
21,arraial do cabo,-22.97,-42.03,73.40,73,20,12.75,BR,1595891855
22,poum,-20.23,164.02,74.32,79,100,24.58,NC,1595892069

In [7]:
ideal_wind=ideal_temps[(ideal_temps["Wind Speed"]<=12)]
ideal_wind.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,myitkyina,25.38,97.40,73.80,96,78,1.12,MM,1595892066
12,rikitea,-23.12,-134.97,72.25,75,78,11.12,PF,1595892067
20,nipani,16.40,74.38,71.13,92,98,6.06,IN,1595892069
31,avarua,-21.21,-159.78,71.60,78,80,8.05,CK,1595892071
32,pringsewu,-5.36,104.97,70.18,81,96,1.52,ID,1595892071

In [27]:
ideal_clouds=ideal_wind[(ideal_wind["Cloudiness"]<=25)& (ideal_wind["Cloudiness"]>=15)]
ideal_clouds

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
351,mayumba,-3.43,10.66,72.66,82,25,6.98,GA,1595891927
383,maceio,-9.67,-35.74,73.40,88,20,8.05,BR,1595892020
390,valenca do piaui,-6.41,-41.75,74.21,41,22,5.46,BR,1595891935
470,vila franca do campo,37.72,-25.43,71.60,94,20,2.24,PT,1595891952
495,rabo de peixe,37.80,-25.58,71.60,94,20,2.24,PT,1595892167
576,gamba,-2.65,10.00,72.48,82,23,5.53,GA,1595892184

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df=ideal_clouds
hotel_df["Hotel Name"]=""
hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
351,mayumba,-3.43,10.66,72.66,82,25,6.98,GA,1595891927,
383,maceio,-9.67,-35.74,73.40,88,20,8.05,BR,1595892020,
390,valenca do piaui,-6.41,-41.75,74.21,41,22,5.46,BR,1595891935,
470,vila franca do campo,37.72,-25.43,71.60,94,20,2.24,PT,1595891952,
495,rabo de peixe,37.80,-25.58,71.60,94,20,2.24,PT,1595892167,
576,gamba,-2.65,10.00,72.48,82,23,5.53,GA,1595892184,

In [29]:
# Loop through the hotel_df and get the hotel closest to each city
target_radius=5000
target_search="hotel"
target_type="lodging"
params={"key":g_key,
        "radius": target_radius,
        #"rankby": "distance",
        "keyword": target_search,
        "type": target_type}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    # get lat and lon from df
    latitude = row["Lat"]
    longitude=row["Lon"]
    
    # update location key value in params dict
    params["location"] = f"{latitude},{longitude}"
    
    # use the search term "international airport" and the appropriate lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # assemble url and make API request & convert to JSON
    response=requests.get(base_url, params=params).json()
    
    # print the response
    #print(index, response["results"][0]["name"])
    
    try:
        hotel_df.loc[index, "Hotel Name"]=response["results"][0]["name"]
        print("Hotel Found!")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel Found!
Hotel Found!
Hotel Found!
Hotel Found!
Hotel Found!
Missing field/result... skipping.

In [30]:
# Visualize to confirm hotel data appears
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
351,mayumba,-3.43,10.66,72.66,82,25,6.98,GA,1595891927,Motel La Banio
383,maceio,-9.67,-35.74,73.40,88,20,8.05,BR,1595892020,Meridiano Hotel
390,valenca do piaui,-6.41,-41.75,74.21,41,22,5.46,BR,1595891935,Império Motel e Pousada
470,vila franca do campo,37.72,-25.43,71.60,94,20,2.24,PT,1595891952,Pestana Bahia Praia
495,rabo de peixe,37.80,-25.58,71.60,94,20,2.24,PT,1595892167,Pedras do Mar Resort & SPA
576,gamba,-2.65,10.00,72.48,82,23,5.53,GA,1595892184,

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [33]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    locations, info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()])

# Display figure
fig=gmaps.figure()
fig.add_layer(hotel_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))